<html>
    <body>
        <p>Salut {{name}},</p>
        <p>Ceci est votre lien pour activer votre compte.</p>
        <p> Svp cliquez sur le lien</p>
        <br>
        <a href="{{link}}">Clicker pour activer votre compte</a> </p> 
    </body>
</html>